.container {
    width: 600px;
    height: 600px;
    margin: 60px auto;
    padding: 10px;

    display: grid;
    /* grid-template-columns:repeat(16, 1fr);
    grid-template-rows:repeat(16, 1fr); */

}

.box {
    background-color: lightgray;
}
