.container {
    width: 850px;
    height: 850px;
    margin: 100px auto;
    padding: 10px;

    display: grid;
    grid-template-columns:repeat(16, 1fr);
    grid-template-rows:repeat(16, 1fr);

}

.box {
    background-color: lightgray;
}
